---
interface Props {
  logo?: boolean;
  ml?: boolean;
  mr?: boolean;
}
const { logo = true, ml = true, mr = true } = Astro.props;
---
<span class:list={["whitespace-nowrap", ml && "ml-0.5", mr && "mr-0.5"]}>{logo && <img src="/logo_orig.png" alt="" aria-hidden="true" class="inline-block h-[1em] w-auto align-middle -translate-y-px" />}{logo && " "}<span class="brand-name font-bold">StripMeta</span></span>
